.route_name {
  color: #000;
  margin-left: 20px !important;
  cursor: pointer;
  font-size: 16px;
  font-family: var(--font-Poppins-SemiBold);
  text-decoration: none;
  text-transform: capitalize;
  line-height: 36px;
}
